<div class="card">
  <div class="card-header">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h5 class="card-title">{{ '::Menu:Viajes' | abpLocalization }}</h5>
      </div>

      <div class="col-auto">
        <button
          class="btn btn-primary"
          *abpPermission="'EntrevistaABP.Viajes.Create'"
          (click)="openCrearModal()"
        >
          {{ '::Nuevo Viaje' | abpLocalization }}
        </button>
      </div>
    </div>

    <form [formGroup]="filtroForm" class="row g-2 mt-3">
      <div class="col-md-4">
        <label class="form-label">{{ '::Filtrar por fecha' | abpLocalization }}</label>
        <div class="d-flex gap-2">
          <input
            class="form-control"
            placeholder="Desde"
            formControlName="fechaDesde"
            ngbDatepicker
            #d1="ngbDatepicker"
            (click)="d1.toggle()"
          />
          <input
            class="form-control"
            placeholder="Hasta"
            formControlName="fechaHasta"
            ngbDatepicker
            #d2="ngbDatepicker"
            (click)="d2.toggle()"
          />
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-end gap-2">
        <button type="button" class="btn btn-outline-primary" (click)="aplicarFiltros()">
          Aplicar
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="limpiarFiltros()">
          Limpiar
        </button>
      </div>
    </form>
  </div>

  <!-- MODAL ABP SOLO PARA EL FORM -->
  <abp-modal [(visible)]="isCrearOpen" [busy]="saving" size="lg">
    <ng-template #abpHeader>
      <h3>{{ '::Crear Viaje' | abpLocalization }}</h3>
    </ng-template>

    <ng-template #abpBody>
      <!-- Sin .modal-body -->
      <form [formGroup]="crearForm">
        <div class="row g-3">
          <div class="col-md-6">
            <label class="form-label">{{ '::Salida' | abpLocalization }}</label>
            <input type="datetime-local" class="form-control" formControlName="fechaSalida" />
          </div>
          <div class="col-md-6">
            <label class="form-label">{{ '::Llegada' | abpLocalization }}</label>
            <input type="datetime-local" class="form-control" formControlName="fechaLlegada" />
          </div>

          <div class="col-md-6">
            <label class="form-label">{{ '::Origen' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="origen" />
          </div>
          <div class="col-md-6">
            <label class="form-label">{{ '::Destino' | abpLocalization }}</label>
            <input type="text" class="form-control" formControlName="destino" />
          </div>

          <div class="col-md-6">
            <label class="form-label">{{ '::Transporte' | abpLocalization }}</label>
            <select class="form-select" formControlName="medioDeTransporte">
              <option [ngValue]="null">--</option>
              <option *ngFor="let m of mediosOpts" [ngValue]="m.value">{{ m.label }}</option>
            </select>
          </div>

          <div class="col-12">
            <hr />
            <h6 class="mb-2">{{ '::Coordinador' | abpLocalization }}</h6>

            <div formGroupName="coordinadorNuevo" class="row g-3">
              <div class="col-md-6">
                <label class="form-label">{{ '::Nombre' | abpLocalization }}</label>
                <input type="text" class="form-control" formControlName="nombre" />
              </div>
              <div class="col-md-6">
                <label class="form-label">{{ '::Apellido' | abpLocalization }}</label>
                <input type="text" class="form-control" formControlName="apellido" />
              </div>
              <div class="col-md-6">
                <label class="form-label">DNI</label>
                <input type="number" class="form-control" formControlName="dni" />
              </div>
              <div class="col-md-6">
                <label class="form-label">{{ '::Fecha de nacimiento' | abpLocalization }}</label>
                <input type="date" class="form-control" formControlName="fechaNacimiento" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template #abpFooter>
      <!-- Sin .modal-footer -->
      <button type="button" class="btn btn-outline-secondary" abpClose>
        {{ '::Cancelar' | abpLocalization }}
      </button>
      <!-- Botón fuera del <form>: usa (click) -->
      <button type="button" class="btn btn-primary" (click)="onCrear()" [disabled]="crearForm.invalid || saving">
        {{ '::Guardar' | abpLocalization }}
      </button>
    </ng-template>
  </abp-modal>

  <!-- TABLA: FUERA DEL MODAL -->
  <div class="card-body">
    <ngx-datatable
      [rows]="viajes.items"
      [count]="viajes.totalCount"
      [list]="list"
      [columnMode]="'force'"
      [headerHeight]="48"
      [footerHeight]="56"
      [rowHeight]="'auto'"
      (sort)="onSort($event)"
      default
    >
      <ngx-datatable-column [name]="'::Origen' | abpLocalization" prop="origen" [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Destino' | abpLocalization" prop="destino" [sortable]="true"></ngx-datatable-column>

      <ngx-datatable-column [name]="'::Salida' | abpLocalization" prop="fechaSalida" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.fechaSalida | date : 'short' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'::Llegada' | abpLocalization" prop="fechaLlegada" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.fechaLlegada | date : 'short' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'::Transporte' | abpLocalization" prop="medioDeTransporte" [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ enumLabel(row.medioDeTransporte) }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'::Coordinador' | abpLocalization">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{
            (row.coordinador?.nombre || '') +
              (row.coordinador?.apellido ? ' ' + row.coordinador.apellido : '') || '-'
          }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>